body {
  background-color: #c2c2c2;
}

#sessionsUI {
  background-color: #a09f6c;
}

.sessionFormInner {
  padding: 2.5em;
  background-color: #9dcbcf;
}

.taskFormInner {
  padding:2.5em;
  background-color: #95b4b8;
}

.taskForm {
  margin-left:10px;
  width:100%;
}

.saveDiv {
  width:100%;
  background-color: #69a58e;
}

.form-control {
  margin:5px;
}

.form-group{
  margin-bottom:0px !important; 
}

.App {
  text-align: center;
}

.timerButton {
  margin:5px;
  background-color: rgb(150, 95, 122) !important;
}

.taskButton:hover {
  background-color: rgb(167, 149, 52) !important;
}

.taskButton {
  border-radius:0 !important;
  width:50%;
  background-color: rgb(192, 167, 97) !important;
}

.saveButton:hover {
  width:100%;
  background-color: rgb(97, 131, 90) !important;
}

.saveButton {
  border-radius:0px !important;
  border:1px solid black;
  width:100%;
  background-color: rgb(172, 132, 140) !important;
}

.plotButton {
  border-radius:0px !important;
  width:100%;
  background-color: rgb(140, 141, 231) !important;
}


.seshButton {
  margin:5px;
  background-color: rgb(102, 95, 150) !important;
}

.taskForm input{
  background-color: whitesmoke;
}

#plotDiv {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual#plotDiv */
#plotDiv {
  background-color:rgb(226, 226, 226);
  visibility: hidden;
  text-align: center;
  position: absolute;
  border:solid 1px black;
  top:-450px;
  left:0px;
  z-index: 1;
}

/* Popup arrow */
#plotDiv ::after {
  content: "";
  position: absolute;
}

/* Toggle this class - hide and show the#plotDiv */
.show {
  visibility: visible !important;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the#plotDiv) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}